.wrapper
{
width:1200px;
height:1500px;
background-color:red;
}

.header
{
width:1200px;
height:200px;
background-color:blue;
}

.headerlogoside
{
width:300px;
height:200px;
background-color:tomato;
float:left;
}

.headermenuside
{
width:600px;
height:200px;
background-color:black;
float:left;
}

.menuside1
{
width:600px;
height:140px;
background-color:purple;
float:left;
}


.menuside2
{
width:600px;
height:60px;
background-color:gray;
float:left;
}


.headeradvertside
{
width:300px;
height:200px;
background-color:green;
float:left;
}

.mainBody
{
width:1200px;
height:1250px;
background-color:yellow;
}

.mainBody1
{
width:300px;
height:1250px;
background-color:blue;
float:left;
}

.sideBar1
{
width:300px;
height:250px;
background-color:yellow;
}

.sideBar2
{
width:300px;
height:250px;
background-color:red;
}

.sideBar3
{
width:300px;
height:250px;
background-color:orange;
}

.sideBar4
{
width:300px;
height:250px;
background-color:tomato;
}

.sideBar5
{
width:300px;
height:250px;
background-color:green;
}

.mainBody2
{
width:900px;
height:1250px;
background-color:red;
float:left;
}

.bodySlide
{
width:900px;
height:650px;
background-color:yellow;
}

.service
{
width:900px;
height:300px;
background-color:ash;
}

.service1
{
width:300px;
height:300px;
background-color:green;
float:left;
}

.service2
{
width:300px;
height:300px;
background-color:white;
float:left;
}

.service3
{
width:300px;
height:300px;
background-color:green;
float:left;
}

.bodyText
{
width:900px;
height:300px;
background-color:purple;
}

.bodyText1
{
width:300px;
height:300px;
background-color:blue;
float:left;
}

.bodyText2
{
width:300px;
height:300px;
background-color:yellow;
float:left;
}

.bodyText3
{
width:300px;
height:300px;
background-color:green;
float:left;
}

.footer
{
width:1200px;
height:50px;
background-color:black;
}