.wrapper
{
width:1200px;
height:1500px;
background-color:blue;
}

.header
{
width:1200px;
height:200px;
background-color:black;
}
 
    .logoside
{
width:300px;
height:200px;
background-color:purple;
float:left;
}

.menuside
{
width:900px;
height:200px;
background-color:green;
float:left;
}

.mainbody
{
width:1200px;
height:900px;
background-color:red
}

.bodyslide
{
width:1200px;
height:600px;
background-color:tomato;
}

.bodytext
{
width:1200px;
height:300px;
background-color:green;
}

.pagetext
{
width:600px;
height:300px;
background-color:red;
float:left;
}


.pageimage
{
width:600px;
height:300px;
background-color:gold;
float:left;
}

.footer
{
width:1200px;
height:400px;
background-color:black;
}

.footer1
{
width:1200px;
height:350px;
background-color:tomato;
}

.footer1div1
{
width:300px;
height:350px;
background-color:green;
float:left;
}

.footer1div2
{
width:300px;
height:350px;
background-color:white;
float:left;
}

.footer1div3
{
width:300px;
height:350px;
background-color:green;
float:left;
}

.footer1div4
{
width:300px;
height:350px;
background-color:white;
float:left;
}
.footer2
{
width:1200px;
height:50px;
background-color:red;
}


